// _mixins.scss
// PARAMETRES DU DEGRADE
@mixin gradient-bg($start-color, $end-color) { 
    background: linear-gradient(135deg, $start-color 0%, $end-color 100%);
}

// PARAMETRE DES BOUTONS
@mixin button-styles($bg-start, $bg-end, $text-color: $white-color) {
    padding: 12px 30px;
    border: none;
    border-radius: $border-radius-btn; // Nécessite $border-radius-btn des variables
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    color: $text-color;
    @include gradient-bg($bg-start, $bg-end);

    &:hover {
        background: linear-gradient(135deg, darken($bg-start, 10%), darken($bg-end, 10%));
    }
}

// PARAMETRE ELEMENTS DE FORMULAIRE
@mixin form-element-styles {
  padding: 10px;
  font-size: 1em;
  border: 1px solid $border-color;
  border-radius: 5px;
  width: 100%;
}